#t1 {
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}
body {
  height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-image: linear-gradient(#F99EB2,#FC4069,#FB0C40);
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
}
th, td {
    padding: 15px;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #640217;
    position: sticky;
    top: 0;
    width: 100%;
}
li {
	color: white;
    float: left;
}

#drawOnTop {
  z-index: 1;
}
a:hover {
  background-color: white;
}
#i, #i1, #i2 {
	margin: 10;
	padding: 10;
	list-style-type: circle;
	position: relative;
	width: 100%;
}
#d1 {  
    width: 500px;
	height: 234px;
	text-align: center;
    background: url("https://s.rozali.com/p/m/o/moda-zima-2018-361516-500x334.jpg");
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */ 
    transition: width 2s, height 2s, transform 2s; 
} 
#d2 {
	width: 500px;
	height: 234px;
	text-align: center;
	background: url("https://s.rozali.com/p/m/o/moda-esen-zima-361961-500x0.jpg");
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */ 
    transition: width 2s, height 2s, transform 2s; 
}
#d3 {
	width: 500px;
	height: 234px;
	text-align: center;
	background: url("https://s.rozali.com/p/m/o/moda-plastove-361523-500x0.jpg");
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */ 
    transition: width 2s, height 2s, transform 2s; 
}
#d4 {
	width: 500px;
	height: 234px;
	text-align: center;
	background: url("https://s.rozali.com/p/p/o/poncho-nametalo-361521-500x0.jpg");
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */ 
    transition: width 2s, height 2s, transform 2s; 
}
#d1:hover,#d2:hover,#d3:hover,#d4:hover { 
    width: 500px; 
    height: 334px; 
    -webkit-transform: rotate(180deg); /* Safari */ 
    transform: rotate(360deg); 
} 

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #b00328;
}

.active {
    background-color: #b00328;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
html {
  
}
p {

  text-shadow: 1px 1px black;
  color: white;
  font-size: 20px;
}
h2 {

  text-shadow: 1px 1px black;
  color: white;
  size: 3;
}
table {
  width:100%;
}